body {
  overflow-x: hidden;
}
.mainnav {
  text-align: center;
  padding: 20px;
  width: 100%;
  position: fixed;
  margin-bottom: 20px;
  z-index: 4;
}
.mainnav a {
  color: white;
  text-decoration: none;
}
.left_nav {
  padding-right: 200px;
  font-size: 25px;
  font-weight: bolder;
  color: white;
}
.middle_nav {
  padding: 0px 20px;
  font-size: 16px;
  color: white;
}
.icon {
  color: white;
  font-size: 20px;
}
.hero1 {
  /* background-image: url("https://images.unsplash.com/photo-1462290625486-c142817fb94d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"); */
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.transparent_layer {
  background-color: #d3d3d373;
  padding: 200px 100px;
}
.font1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: yellow;
  padding: 0px;
}
.font2 {
  font-size: 100px;
  padding: 0px 200px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.column_margin {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.hero2 {
  background-image: url("https://images.unsplash.com/photo-1465189684280-6a8fa9b19a7a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero3 {
  background-image: url("https://images.unsplash.com/photo-1452723312111-3a7d0db0e024?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");

  background-repeat: no-repeat;
  background-size: cover;
}
.transparent_layer2 {
  background-color: #ffff0082;
  padding: 100px 100px;
}
.transparent_layer3 {
  background-color: #d3d3d373;
  padding: 200px 100px;
}
.font3 {
  font-size: 80px;
  padding: 0px 200px;
  text-align: center;
  font-weight: bolder;
  color: white;
}
.font4 {
  font-size: 20px;
  text-align: center;
  color: white;
}
.text {
  background-color: transparent;
  border: 2px solid white;
  padding: 15px 130px 15px 10px;
  margin-left: 20px;
  color: white;
}
.btn {
  padding: 18px 60px;
  background-color: yellow;
  font-weight: bold;
  margin-left: 20px;
}
.btn1 {
  padding: 18px 60px;
  background-color: white;
  color: black;
  font-weight: bold;
  margin-left: 0px;
  border: none;
  text-transform: uppercase;
}
.btn1:hover {
  background-color: black;
  color: white;
}
.space {
  margin: 40px 0px 0px 400px;
}
::placeholder {
  color: #fff;
}
.border {
  border-bottom: 2px solid white;
}
.padding2 {
  padding: 100px;
  background-color: #151515d1;
  color: white;
}

.footer {
  text-align: center;
  padding: 30px 0px;
  background-color: black;
  color: white;
}
.f1 {
  font-size: 100px;
  text-transform: uppercase;
}
.f2 {
  font-size: 50px;
}
.f3 {
  font-size: 20px;
  font-family: italic;
}
i {
  font-size: 7px;
  padding-right: 10px;
  margin-left: 0px;
  color: yellow;
}
.icon2 {
  font-size: 20px;
}
.imgHeight .col-md-3 img {
  height: 517px;
}
.img1 {
  position: relative;
  transition: 0.4s linear;
}
.imghover:hover .img1 {
  transform: scale(1.1);
  transition: 0.4s linear;
}
.textlayer {
  position: absolute;
  width: 100%;
  bottom: 20px;
  color: white;
  font-size: 20px;
  padding: 20px;
}
.font5 {
  font-size: 20px;
  font-weight: 700;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.459);
}
.font6 {
  color: yellow;
  font-style: inherit;
}
.color {
  color: yellow;
  font-size: 20px;
}
.padding2 {
  padding-left: 20px;
}
.color2 {
  font-size: 16px;
}

.textlayer2 {
  position: absolute;
  width: 100%;
  top: 250px;

  color: white;
}
.font7 {
  font-size: 50px;
  padding-left: 40px;
}
.font8 {
  font-size: 25px;
  padding-left: 180px;
  font-style: italic;
}
.textlayer3 {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  color: white;
}
.set_img {
  margin: 30px 50px;
}
.set_img .col-md-4 img {
  height: 594px;
}
.overflow {
  position: relative;
  overflow: hidden;
  margin: 30px 0px;
}
.img2 {
  transition: 0.4s;
  height: 50%;
}
.img2:hover {
  transform: scale(1.1);
}
.heightimg .col-md-4 .img1 {
  height: 619px;
}
.font9 {
  font-size: 30px;
}
.font10 {
  font-size: 25px;
  font-style: italic;
}

.hero4 {
  background-image: url("https://images.unsplash.com/photo-1563216368-5b6a40648062?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.transparent_layer4 {
  background-color: #d3d3d373;
  padding: 200px 100px;
}

/* shital code */
.bgcolor {
  background-color: tomato;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}
.h1pad {
  padding: 8px;
  margin-left: 10px;
}
.h3pad {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 30px;
  padding-left: 10px;
  text-align: center;
  border-right: 1px solid lightgrey;
}
.black {
  background-color: black;
  color: white;
  height: 40px;
}

.bgimg {
  /* background-image: url("https://images.unsplash.com/photo-1465832556179-1e3fb70a3df2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80"); */
  color: white;
  height: 90vh;
  position: relative;
}
.hike {
  text-align: center;
  font-size: 110px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}
.h4center {
  text-align: center;
  padding-top: 60px;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.price {
  margin-top: 95px;
  font-family: cursive;
  font-size: 20px;
}
.mar {
  margin: 0px;
}
.button {
  text-align: right;
}
.button1 {
  border-radius: 0px;
  background-color: rgb(243, 99, 147);
  color: white;
}
.ipad {
  margin-right: 5px;
}
.button2 {
  background-color: white;
  color: black;
  border-radius: 0px;
}
.margbtn {
  margin-bottom: 10px;
}
.padd {
  padding-left: 20px;
  text-align: center;
  background-color: #f4f4f4;
}
.trans {
  position: relative;
  margin: 0;
  width: auto;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #595959;
  border-right: 1px solid lightgrey;
  padding: 22px;
  text-align: center;
}
.tabpad {
  padding: 20px;
  margin: 10px;
  font-size: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tab {
  display: inline;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px;
}
.tabbpadd {
  padding: 20px;
}
.hiking {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}
.h4cls {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-bottom: 10px;
  padding-left: 15px;
}
.includepad {
  padding: 10px;
  color: tomato;
  font-size: 20px;
}
.rightimgpad {
  padding-top: 60px;
}
.nav2 {
  padding-left: 20px;
  margin-left: 55px;
  padding: 4px;
}
.img {
  transition: 0.4;
}

.img:hover {
  opacity: 0.8;
  transition: 0.4;
}
.h3style {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-top: 30px;
}
.h4style {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-left: 35px;
}
.imgmargin {
  margin-top: 40px;
}
.imgWrapper {
  column-count: 3;
}
.imgWrapper img {
  margin-top: 10px;
}

.imggallerypadd {
  padding-top: 20px;
}
.padimgbtm {
  padding-bottom: 60px;
}
.reviewcolor {
  background-color: orangered;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 4px;
}
.revinline {
  display: inline;
}
.starcolor {
  color: tomato;
  padding: 3px;
}
.margrev {
  margin-top: 40px;
}

.arrowsize {
  font-size: 30px;
  margin-left: 665px;
}
.margleft {
  margin-left: 10px;
}
.iconfont {
  font-size: 15px;
  color: tomato;
}
.imgData {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
