#image {
  width: 500px;
  height: 100px;
}

.clear {
  clear: both;
}
.content {
  text-align: center;
  background-color: rgb(236, 236, 235);
  padding: 10px 0px 20px 0px;
}
.content:hover {
  background-color: chocolate;
  color: white;
}
.card {
  margin: 30px 10px;
}
.topmarg {
  margin-top: 150px;
}
.smallcard {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.titlehead {
  padding: 10px;
}
a.btnborder {
  border: 1px solid #ccc;
  padding: 15px 20px;
  background-color: rgb(218, 213, 211);
  color: #000;
  border-radius: 10px;
  text-decoration: none;
}
.view {
  text-align: center;
  padding: 20px 10px;
}
.bigcard {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.center {
  text-align: center;
}
.mt-5 {
  padding: 150px 40px;
}
.panel-title {
  font-size: 20px;
}
.backimg {
  background-image: url("https://images.unsplash.com/photo-1461237439866-5a557710c921?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
  height: 625px;
}
.panel-title {
  color: gray;
  font-weight: bold;
}
.fixed {
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0px;
}
.back:hover {
  background-color: rgb(48, 48, 48);
  transition: 0.4s;
  color: #fff;
}
.back {
  transition: 0.4s;
}
.tddata {
  display: none;
}
